body{
  font-family: 'Handlee';
  background-color: #D4AFB9;
}
.react-calendar__tile--active{
  background-color: transparent;
  border-radius:0;
  color:black;
}

/* Style for the container */
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the month label */
.react-calendar__navigation__label {
  flex-grow: 0; 
  text-align: center;
  width: 100%; 
}

/* Style for the navigation buttons */
.react-calendar__navigation button {
  margin: 0 10px; 
  font-family: 'Handlee';
  padding: 5px 10px; 
}


.react-calendar__tile {
  font-family: 'Handlee';
}


.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 3vh;
}

.calendar{
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tracked-symptom {
  background-color: rgb(196, 193, 193); 
  border: 1px solid lightgray; 
  border-radius: 0;
}

.predicted-period{
  background-color: #eec6c6; 
  color: white; 
  border-radius: 0;
}

.last-period{
  background-color: #b74c4c; 
  color: white; 
  z-index: 0;
  border-radius: 0;
}

/* Style for displaying current phase */
.current-phase {
  text-align: center;
  margin-top: 10px;
  color: #4a4a4a; 
  padding: 10px;
  border-radius: 5px;
}

.current-phase p {
  margin: 0;
}

/* Underline the text */
.current-phase a {
  color: #4a4a4a; 
  text-decoration: underline;
}

.current-phase a:hover {
  color: #000; 
}

.react-calendar {
  width: 100%;
  margin: auto; 
  font-size: 2.5vh;
}

.react-calendar__tile--now {
  background-color: #D4AFB9;
  border-radius: 0;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #D4AFB9;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: transparent;
}

.react-calendar__month-view__weekdays{
  font-family: 'Handlee';
}

.parent-calender-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  padding-top:5px;
}

.symptom-tracker-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px; 
  padding-right: 45px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1; 
  font-size: 14px;
  width: 500px; 
}


.symptoms-button-container{
  column-count: 2; 
  column-gap: 5px;
  
}
.symptoms-button-container button{
  margin: 10px;
  margin-left:35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.symptoms-button-container button:hover{
  background-color: #d8dcde;
  color:black;
}
.calendar-key{
  margin-top: 0;
  margin-bottom: 0px;
}
.calendar-key-last{
  color:#a74242;
}
.calendar-key-next{
  color:#d5a0a0;
}
.calendar-key-tracked{
  color:rgb(142, 140, 140);
}
.caption{
  color:rgb(104, 100, 100);
  margin-bottom: 5px; 
}
.calendar-key-list{
  margin-top: 0px;
}

.last-period-btn{
  margin: 10px;
  border-radius: 15px;
  padding: 2px;
  background:#c6a4ac!important;
  border:none;
  color: black !important;
  width: 70px;
}

.custom-datepicker {
  margin-left: 10px;
  width: 95px; 
}

.last-period-date{
  text-align: center;
}


