body{
  font-family: 'Handlee';
  background-color: #D4AFB9;
}

/* Style for the container */
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the month label */
.react-calendar__navigation__label {
  flex-grow: 0; 
  text-align: center;
  width: 100%; 
}

/* Style for the navigation buttons */
.react-calendar__navigation button {
  margin: 0 10px; 
  font-family: 'Handlee';
  padding: 5px 10px; 
}


.react-calendar__tile {
  font-family: 'Handlee';
}


.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 3vh;
}

.calendar{
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
}

/* Style for predicted period */
.predicted-period{
  background-color: #eec6c6; 
  color: white; 
  border-radius: 0;
}

.last-period{
  background-color: #b74c4c; 
  color: white; 
  z-index: 0;
  border-radius: 0;
}

.current-phase {
  text-align: center;
  margin-top: 10px;
  font-size: 2vh;
  color: #4a4a4a; /* Adjust color as needed */
  background-color: #F9E4E6; /* Adjust background color as needed */
  padding: 10px;
  border-radius: 5px;
}

.current-phase p {
  margin: 0;
}

.current-phase a {
  color: #4a4a4a; /* Adjust link color as needed */
  text-decoration: underline;
}

.current-phase a:hover {
  color: #000; /* Adjust link hover color as needed */
}

.react-calendar {
  width: 100%;
  margin: auto; 
  font-size: 2.5vh;
}

.react-calendar__tile--now,
.react-calendar__tile--active {
  background-color: #D4AFB9;
  border-radius: 0;
}
 

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #D4AFB9;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #a9abac;
}

.react-calendar__month-view__weekdays{
  font-family: 'Handlee';
}

.parent-calender-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  padding-top:5px;
}

/* In your CSS file */
.symptom-tracker-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1; 
}
.button-container button{
  margin: 10px;
  margin-left:35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.button-container button:hover{
  background-color: #d8dcde;
  color:black;
}



