.period-info {
   font-size: 19px;
   margin-top: 10px;
   padding-right: 20px;
   margin-right: 20px;
 }
 
 .period-info input[type="number"] {
   width: 230px; 
   float: right;
 }
 
 .period-info label {
   display: inline-block;
   margin-left:70px;
   padding-right:10px;
 }
 
 .period-info-save {
   text-align: center;
 }
 
 .period-info-save .period-info-save-btn {
   border-radius: 20px;
   background-color: #D4AFB9 !important;
   color: black;
   border: none !important;
   text-align: center;
   margin-left: 40px;
 }

 @media only screen and (max-width: 500px) {
  .period-info {
    font-size: 15px;
  }
  .period-info input[type="number"] {
    width: 150px; 
    float: right;
  }
   
 .period-info label {
  margin-left:40px;
  padding-right:10px;
}

 }

