.Period{
    background-color: #b74c4c;  
}
.Pain{
    background-color: #F4BA90;
}
.Energy{
    background-color: #f4d98b;
}
.Moody{
    background-color: #8ea5e5;
}
.Sexual-Activity{
    background-color: #c0a9ef;
}