.form-group{
    font-size: 19px;
    margin-top: 10px;
    padding-left: 30px;

} 
.password-form {
    width: 45%; 
  }
  
.form-group label {
    display: inline-block;
    width: 55%; 
}
.password-save{
    text-align: center;
 }
 .password-save-btn{
    border-radius: 20px;
    background-color: #D4AFB9 !important;
    color:black;
    border: none !important;
    text-align: center;
    margin-top: 15px;
 }
 .password-save-btn:hover{
    color:black;
 }
 @media only screen and (max-width: 500px) {
    .form-group{
        font-size: 15px;
    } 
    
  }
  