
#medinfo {
    background-color: white;
    border-radius: 6px;
    padding: 15px;
    margin: 30px;
    margin-bottom: 130px;
}

table {
    width: 50%;
    height: 50%;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    margin: 0 auto; 
   
  }

  table, th, td {
    border: 1px solid;
  }

  th {
    background-color: pink;
  }
