.music-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255); 
    border-radius: 20px; 

}

.music-button-container button {
    height: 200px;
    width: 170px;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 239, 239); 
    border: 1px solid #4d0116; 
    border-radius: 15px; 
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.music-button-container button img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}

.music-content {
    width: 100%; 
    text-align: center; 
} 
.music-content {
    width: 100%;
    text-align: center; /* Centers the text horizontally */
    padding: 20px; /* Adds padding inside the content area */
    background-color: white; /* Ensures the background is white */
    border-radius: 20px; /* Rounds the corners */
    margin: auto; /* Center align the content box if necessary */
}
.meditation-card{
    margin:30px;
    margin-top: 75px; 
}
.first-time-medi{
    text-align: center;
    font-size: 18px;
}
.first-time-medi a{
    color:black;
}
.pick-song{
    font-size: 25px;
}

.music-preview-caption{
    font-size: 18px;
}

@media (min-width: 850px) {
    .music-button-container button {
        height: 320px;
        width: 270px;
        font-size: 1.2rem;
    }

    .music-button-container button img {
        width: 250px;
        height: 250px;
    
    }
    .music-button-container button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .first-time-medi{
        text-align: center;
        font-size: 20px;
    }
    .pick-song{
        font-size: 27px;
    }
    .music-preview-caption{
        font-size: 20px;
    }

}
@media (max-width: 500px) {
    .music-button-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 10px;
    }

    .music-button-container button {
        height: 150px;
        width: 130px;
        font-size: 0.9rem; 
    }

    .music-button-container button img {
        width: 100px; 
        height: 100px; 
    }
    .meditation-card{
        margin:5px;
        margin-top: 60px; 
    }
}

