.setting-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
  }
  
  .setting-card {
    width: 100%;
    max-width: 500px;

  }
  
  .setting-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

.setting-button{
    margin-top:30px;
    background-color: #92aee7 !important;
    border: none !important;
    color:#111111 !important;
    border-radius: 20px !important;
}

.setting-card-body {
  position: relative;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 15px; 
  font-size: 22px; 
  color: black; 
  cursor: pointer;
}
.email-password-container{
  font-size: 19px;
}

